@{
    ViewData["Title"] = "About Us";
}

<div class="search-container">
    <form action="/action_page.php">
        <input type="text" placeholder="Search.." name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
</div>

<div class="text-center">
    <h1 class="display-4">About Us</h1>
    <p>A lot of people today like to invest in financial markets, such as the stock market, the crypto market, and the foreign exchange market. Others trade on these markets to make a living, but they need to be able to have tools to help them with their investments and trading plans. The main goal of this app is to allow users to keep track of their investments and customize their watchlist. They will also be allowed to communicate with each other so that they can share ideas and gain knowledge from one another. Users can also view charts for these different investments, so they have a visual representation of prices relative to different economies. </p>
    <br />
    <br />

    <p>My project idea entails a stocks/investments metrics tracker. This will be a web application that will allow users to have a watchlist of different stocks, indices, and currency pairs. This will use CRUD. Create- creating a watchlist, Read- Selecting different stock and currency tickers from the watchlist database, Update – adding tickers to a watchlist, Delete – Removing unwanted tickers from the watchlist. I plan on using SQL Server as the relational database to store the user’s watchlist. There will be a user, a premium user, a manager, and an admin. The user can do all the above-mentioned functions. The admin will be able to manage user accounts and help the user with any general issues or inquiries. The admin will be able to access the user’s watchlist and everything else related to the user excluding personal information. The admin can also delete databases and/or tables. The premium user can do everything a user can do but has extra functionalities. The manager manages the entire web app, they have user profile, and will be able to collect data about different metrics relating to the features of the web app to create data tables.  This description will change slightly as new features will be added or removed.</p>
</div>



