@{
    ViewData["Title"] = "Home Page";
}

<div class="search-container">
    <form action="/action_page.php">
        <input type="text" placeholder="Search.." name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
</div>

<div class="text-center">
    <h1 class="display-4">StockView</h1>
    <p>The #1 investment metrics tracker app, built from scratch!</p>
</div>

<div>
    <h2>Forums</h2>
    <p>Discuss all the latest Economic News regarding Stocks in the market.</p>
</div>

<div>
    <h2>Stocks</h2>
    <p> View all the hottest stocks in the New York Stock Exchange (NYSE)</p>
</div>