@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy. StockView is a Stock Metrics Tracker that allows users to keep track of their financial instruments. This includes stocks and bonds. User can create watchlists with their preferred stocks to keep track of</p>
