@model StockView.Models.GenericUser

@{
    ViewData["Title"] = "Upgrade Membership";
}


<div id="loginOptionBox" class="text-center">

    <div id="subheading" class="jumbotron text-center">
        <h1>Upgrade User Benefits</h1>

        <h2>Select a Plan</h2>
        <h3>Pay securely with Stripe</h3>


        <div style="background-color:white;padding:20px">
            <h3>Basic</h3>
            <h4> These are the Basic Membership Benefits</h4>
            <ul>
                <li>Create a Watchlist</li>
                <li>Add stocks to watchlist</li>
                <li>Edit or Delete watchlist</li>
                <li>Update Watchlist</li>
            </ul>
               @* <input type="hidden" asp-for="Id" />
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                <a asp-action="Index">Back to List</a>*@
            
        </div>

        <div style="background-color:white;padding:20px">
            <h3>Premium</h3>
            <h4> These are the Premium Membership Benefits</h4>
            <ul>
                <li>Create a Watchlist</li>
                <li>Add stocks to watchlist</li>
                <li>Edit or Delete watchlist</li>
                <li>Update Watchlist</li>
                <li>Edit account details</li>
                <li>Create Forum Posts</li>
            </ul>
            
            @*  <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Index">Back to List</a>
        </form>*@
        </div>

        <form id="payment-form" method="post" asp-controller="GenericUsers" asp-action="Create">
            <script src="https://checkout.stripe.com/checkout.js" 
                    class="stripe-button" 
                    data-key="pk_test_51Lzu8OEmpCsp93BbBV7LE8V57PZXkPtv9TdhK9VdueqibDroS73vSEA29osq2An6Vm1BHSqAFZwNPB76MImYCQYM0097UKlODa"
                    data-name="StockView Premium Membership Payment"
                    data-description="Stripe Gateway"
                    data-locale="en"
                    data-label="Confirm Payment - $39.99"
                    >
            </script>
        </form>

  


      

    </div>

</div>

